
<div class="nav-side-menu" id="dash">
    <div class="brand">Olá <a [innerHTML]="cliente.nome"></a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Sua pontuação é: 0
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#">
                    <i class="fa fa-gift fa-lg"></i> Fases
                </a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active">
                    <a>Introdução</a>
                </li>
                <li>
                    <a href="#">Variáveis</a>
                </li>
                <li>
                    <a href="#">Condições</a>
                </li>
                <li>
                    <a href="#">Operadores Matemáticos</a>
                </li>
                <li>
                    <a href="#">Operadores Lógicos</a>
                </li>
                <li>
                    <a href="#">Laços de Repetição</a>
                </li>
            </ul>
        </ul>
    </div>
</div>

<app-conteudodash [cliente]="cliente"></app-conteudodash>