<div class="container">
  <h3 class="text-center">Cadastro de Usuário</h3>
  <form method="POST" action="http://13.254.220.123:5000/cadastrarCliente/">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nome Completo:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Digite aqui o seu nome completo" name="nome" minlength="5" maxlength="250">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Login:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Digite seu login" name="login" minlength="5" maxlength="250">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Senha:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" placeholder="Digite sua senha" name="senha" minlength="5" maxlength="250">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Digite seu email" name="email" minlength="5" maxlength="250">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Data de Nascimento:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" name="data_nasc" minlength="5" maxlength="250">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Sexo:</label>
      <div class="form-group col-md-10">
        <select class="form-control" name="sexo">
          <option value="1">Masculino</option>
          <option value="2">Feminino</option>
          <option value="0">Outro</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </div>
  </form>
</div>